@CHARSET "ISO-8859-1";

* {
	margin: 0px;
}
body {
	background-color: #FFF;
	background-image: linear-gradient(to right, #F0F0F0, #FFF 40%, #F0F0F0);
	font-family: Arial, sans-serif;
	font-size: 1em;
}
.page {
	max-width: 1400px;
	width: 80%;
	margin: 0 auto;	
}
.header {
	position: relative;
	margin-bottom: 5%;
}
.clearfix:after {
	content:".";
	display: block;
	clear: both;
	height: 0px;
	visibility: hidden;
	padding: 0px;
}
.betatag {
	position:absolute; 
	top: 5em; 
	z-index: 130; 
	font-size:20px; 
	border-right-style: groove; 
	border-bottom-style: groove; 
	border-left-style: ridge; 
	border-top-style: ridge; 
	padding: 0.5em 1em; 
	transform: rotate(-30deg);
	text-transform: uppercase;
}
@media (max-width: 1030px) {
	.betatag 
	{
		top: 7em;
		color: white;	
		background-color: #005C71;
		transform: rotate(0deg);
	}
}
.navbar-logo {
    width: 215px;
    height: 117px;
    background-color: #E4E4E4;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 0px 10px #808080;
    position: absolute;
    top: 0px;
    margin-left: 80px;
    margin-top: 0px;
    z-index: 100;
    background-image: url('Mpdl-logo2.png');
    background-size: 175px 48px;
    background-repeat: no-repeat;
    background-position: 14px 55px;
}
@media (max-width: 1030px) {
	.navbar-logo 
	{
		height: 50px;
		width: 70%;
		min-width: 200px;
		background-size: auto 50px;
		background-position: 0px 0px;
		margin-left: 0px;	
	}
}
.language {
	float: right;
}
.navigationbuffer {
	width: 30%;
	min-width: 292px;
	clear: both;
	float: left;
	height: 1px;
}
@media (max-width: 1030px) {
	.navigationbuffer  
	{
		display: none;	
	}
}
.navigation {
	clear: right;
	position: relative;
	margin-bottom: 55px;
	top: 50px;	
}
.navigation a, .navigation a:visited {
	font-family: Arial, sans-serif;
	margin: 0 30px;
	font-size: 18px;
}

.title {
	font-family: Verdana, sans-serif;
	font-size: 170%;
	font-size: 1.7vw;
	word-spacing: 0.2em;
	float: right;
	width: 26%;
	min-width: 9.2em;
	height: 14%;
	color: white;
	background-color: #005C71;
	border-top-left-radius: 0.5em;
	padding-top: 1em;
	padding-left: 1em;
	position: absolute;
	top: 70%;
	left: 75%;

}
.title2 {
	float: right;
	width:28%;
	min-width: 100px;
	position: absolute;
	top: 60%;
	left: 75%;
}
@media (max-width: 600px) {
	.title {
		position: static;
		font-size: 0.7em;
	}
}
.titleimg{
	width: 100%;
	clear: right;
	margin-bottom: -40px;
	border-radius: 10px 10px 0px 0px;
	padding: 10px 10px 0px;
	background-color: white;
	position: relative;
	
}
.services {
	float: left;
	clear: both;
	margin-top: 50px;
	width: 100%;               
}
.service {
	margin-bottom: 30px;
}

.imglink {
	width: 20%;
    min-width: 100px;
    float: left;
    clear: left;
	position: relative;
	margin-right: 5%;
}

p {
	font-size: 1em;
	font-family: Verdana, sans-serif;
}
@media (max-width: 1100px) {
	p {
		font-size: 0.8em;
	}
}

.servicedoc {
	float: left;
	max-width: 1160px;
	width: 70%;
}

.servicedoc2 {
	margin-top: 40px;
	margin-bottom: 40px;
}

h4 {
	font-family: Georgia, serif;
	font-size: 18px;
}

h2 {
	font-family: "Times New Roman";
	padding-left: 4.5%;
	padding-bottom: 10px;
	font-size: 30px;
}
a, a:visited {
	color: #04725D;
	text-decoration: none;
	white-space: nowrap;
}
a:hover {
	color: black;
}
img {
	width: 100%;
	height: auto;
	border-width: 0px;
}
@media (max-width: 516px) {
	.servicedoc {
		width: 100%;
	}
	.servicedoc2 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
}
