@CHARSET "ISO-8859-1";

* {
	margin: 0px;
}
body {
	background-color: #FFF;
	background-image: linear-gradient(to right, #F0F0F0, #FFF 40%, #F0F0F0);
	font-family: Arial, sans-serif;
}
.page {
	max-width: 1400px;
	width: 80%;
	margin: 0 auto;	
}
.header {
	position: relative;
	margin-bottom: 5%;
}
.clearfix:after {
	content:".";
	display: block;
	clear: both;
	height: 0px;
	visibility: hidden;
	padding: 0px;
}

.navbar-logo {
    width: 215px;
    height: 117px;
    background-color: #E4E4E4;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 0px 10px #808080;
    position: absolute;
    top: 0px;
    margin-left: 100px;
    margin-top: 0px;
    z-index: 100;
    background-image: url('Mpdl-logo2.png');
    background-size: 175px 48px;
    background-repeat: no-repeat;
    background-position: 14px 55px;
}
.language {
	float: right;
}
.navigationbuffer {
	width: 30%;
	min-width: 292px;
	clear: both;
	float: left;
	height: 1px;
}
.navigation {
	clear: right;
	position: relative;
	margin-bottom: 55px;
	top: 50px;
	
	
}
.navigation a, .navigation a:visited {
	font-family: Arial, sans-serif;
	margin: 0 30px;
	font-size: 18px;
}

.title {
	font-family: Verdana, sans-serif;
	font-size: 1.7em;
	word-spacing: 0.2em;
	float: right;
	width: 26%;
	min-width: 9.2em;
	height: 14%;
	color: white;
	background-color: #005C71;
	border-top-left-radius: 0.5em;
	padding-top: 1em;
	padding-left: 1em;
	position: absolute;
	top: 70%;
	left: 75%;

}
.titleimg{
	width: 100%;
	clear: right;
	margin-bottom: -40px;
	border-radius: 10px 10px 0px 0px;
	padding: 10px 10px 0px;
	background-color: white;
	
}
.services {
	float: left;
	clear: both;
	margin-top: 50px;
	width: 100%;               
}

.services span {
	display: inline-block;
	font-family: Verdana, sans-serif;
	font-size: 23px;
	color: #F0F0F0;
	line-height: 100%;
	text-decoration: none;
	vertical-align: middle;
}
.services img {
	width: 100%;
	height: auto;
}
.service {
	margin-bottom: 30px;
}
.service2 span {
	position: absolute;
	top: 43%;
	display: block;
	text-align: center;
	width: 100%;
	font-size: 19px;
}
.service1 {
    width: 20%;
    min-width: 170px;
    float: left;
    clear: left;
	position: relative;
	
}
.service1 span {
	position: absolute;
	top: 38%;
	display: block;
	width: 100%;
	text-align: center;
	font-size: 19px;
}
.service2 {
	width: 20%;
	min-width: 170px;
	float: left;
	clear: left;
	position: relative;
}
.service3 span{
	left: 0px;
	top: 39%;
	width: 100%;
	display: block;
	text-align: center;
	font-size: 19px;	
}

.demo_green {
	background-image: url('Gear_green.svg');
	background-size: 100%;
    background-repeat: no-repeat;
    height: 200px;
    text-align: center;
    vertical-align: middle;
    line-height: 100%;
    width: 200px;
    float: left;
    clear: left;
    margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 25px;
}

.demo_green span {
	margin-top: 50px;
}

.box_green {
	background-image: url('software_box_1.svg');
	background-size: 100%;
    background-repeat: no-repeat;
    height: 150px;
    text-align: center;
    vertical-align: middle;
    line-height: 100%;
    width: 150px;
    float: left;
    clear: left;
    margin-bottom: 10px;
	margin-right: 20px;
	margin-left: 55px;
}

.box_green span {
	margin-top: 50px;
}

p {
	font-size: 18px;
	font-family: Verdana, sans-serif;
	padding-left: 50px;
}
.servicedoc {
	float: left;
	max-width: 1160px;
	width: 80%;
}
.servicedoc2 {
	margin-top: 40px;
	margin-bottom: 40px;
}
.service2  p{
	color: red;	
}
h4 {
	font-family: Georgia, serif;
	padding-left: 50px;
	font-size: 18px;
}

h2 {
	font-family: Univers,​ sans-serif;
	padding-left: 50px;
	padding-bottom: 10px;
	font-size: 30px;
}
a, a:visited {
	color: #04725D;
	text-decoration: none;	
}
a:hover {
	color: black;
}
img {
	width: 100%;
	height: auto;
}